<!DOCTYPE html><html><head><meta charset="UTF-8"/><title>Timeboxed</title></head><body><div id="content"></div><script type="text/javascript">document.addEventListener("DOMContentLoaded", function(event) {var l=document.body.childNodes[document.body.childNodes.length-1].textContent, p='?return_to=';if(l&&l.indexOf(p)!==-1){l=l.substring(l.indexOf(p)+p.length);window.pebbleReturnTo=l;document.body.removeChild(document.body.childNodes[document.body.childNodes.length-1]);}});window.pebbleReturnTo="__TIMEBOXED_RETURN__";window.timeboxedVersion="__TIMEBOXED_VERSION__";window.pebblePlatform="__TIMEBOXED_PLATFORM__";window.timeboxedConfigs="__TIMEBOXED_CONFIGS__";__TIMEBOXED_SCRIPT__</script></body></html>
